* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #ddd;
  width: 100%;
  height: 100vh;
}

.main {
  position: relative;
  display: inline-block;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main h2 {
  font-size: 50px;
}

.UpdateData {
  text-align: center;
}
.UpdateData .item {
  margin: 15px 0 !important;
  display: inline-block;
  padding: 0 10px;
  font-size: 25px;
  cursor: pointer;
}
